Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
scikit-learn>=0.18
matplotlib>=1.4.3
pandas>=0.19
tensorflow>=2.2.0
gevent>=20.6.2
pillow>=7.1.2
h5py>=2.10.0
keras>=2.4.2
requests>=2.7.4